---
import { siteConfig } from "@/site-config";
import type { Page } from "src/lib/notion-interfaces";
import { getDatabaseByName } from "src/lib/notion/client";
import { Image } from "astro:assets";
import instagramLogo from "../../assets/instagram-logo.svg";
import linkedinLogo from "../../assets/linkedin-logo.svg";
import githubLogo from "../../assets/github-logo.svg";
import youtubeLogo from "../../assets/youtube-logo.svg";
import globe from "../../assets/globe.svg";

let pagesDatabase = (await getDatabaseByName("Pages"))!;
let pages: Page[];
pages = pagesDatabase.Pages;

const year = new Date().getFullYear();

export interface Props {
  locale: string;
  slug: string;
}
const { locale, slug } = Astro.props as Props;
---

<footer
  class="mt-auto flex w-full snap-start flex-col items-center justify-center pb-6 pt-6 text-center align-top sm:flex-row sm:justify-between sm:space-y-0 sm:text-xs print:hidden"
>
  <div
    class="order-2 flex h-full flex-col items-center justify-center space-y-6 sm:order-1 sm:flex-row sm:space-y-0"
  >
    <div class="order-2 me-0 pt-6 font-body sm:order-1 sm:me-6 sm:ml-1 sm:pt-0">
      &copy; {siteConfig.author}
      {year}
    </div>
    <address
      class="order-1 flex w-full items-center justify-center space-x-7 sm:order-2 sm:w-auto"
    >
      <a
        href="https://www.linkedin.com/in/daniel-locatelli/"
        target="_blank"
        title="Check my LinkedIn."
        class="flex"
      >
        <Image
          src={linkedinLogo}
          alt="LinkedIn logo."
          class="inline h-4 w-auto mix-blend-difference"
        />
      </a>
      <a
        href="https://github.com/daniel-locatelli"
        target="_blank"
        title="Check my GitHub."
        class="flex"
      >
        <Image
          src={githubLogo}
          alt="GitHub logo."
          class="inline h-4 w-auto mix-blend-difference"
        />
      </a>
      <a
        href="https://www.instagram.com/architectlocatelli/"
        target="_blank"
        title="Check my Instagram."
        class="flex"
      >
        <Image
          src={instagramLogo}
          alt="Instagram logo."
          class="inline h-4 w-auto mix-blend-difference"
        />
      </a>
      <a
        href="https://www.youtube.com/@ArchitectLocatelli"
        target="_blank"
        title="Check my YouTube channel."
        class="flex"
      >
        <Image
          src={youtubeLogo}
          alt="YouTube logo."
          class="inline h-5 w-auto mix-blend-difference"
        />
      </a>
    </address>
  </div>
  <nav
    aria-label="More on this site"
    class="order-1 flex flex-col font-body sm:order-2 sm:mr-2 sm:flex-row"
  >
    {
      pages.map((page) =>
        page.Name === "Homepage" ? (
          <a
            class="py-2 sm:px-3 sm:py-0 sm:hover:text-textColor sm:hover:underline"
            href={locale === "en" ? "/" : "/" + locale + "/"}
            title="Homepage"
          >
            Home
          </a>
        ) : (
          <a
            class="py-2 sm:px-3 sm:py-0 sm:hover:text-textColor sm:hover:underline"
            href={locale === "en" ? page.Slug : "/" + locale + "/" + page.Slug}
            title="Homepage"
          >
            {locale === "en" ? page.Name : page.Name_pt}
          </a>
        )
      )
    }
    {
      locale === "en" && (
        <a
          class="py-2 sm:px-3 sm:py-0 sm:hover:text-textColor sm:hover:underline"
          href={"/#about"}
        >
          About
        </a>
      )
    }
    {
      locale === "de" && (
        <a
          class="py-2 sm:px-3 sm:py-0 sm:hover:text-textColor sm:hover:underline"
          href={"/de/#about"}
        >
          Über
        </a>
      )
    }
    {
      locale === "pt" && (
        <a
          class="py-2 sm:px-3 sm:py-0 sm:hover:text-textColor sm:hover:underline"
          href={"/pt/#about"}
        >
          Sobre
        </a>
      )
    }
    <a
      title={locale === "en" ? "Mudar para Português" : "Change to English"}
      href={locale === "en" ? "/pt/" + slug : "/" + slug}
      class="py-3 underline-offset-2 sm:px-3 sm:py-0 sm:hover:underline"
    >
      <Image
        src={globe}
        alt="Daniel Locatelli logo"
        loading={"eager"}
        class="inline mix-blend-difference"
      />
      <div class="inline">{locale}</div>
    </a>
  </nav>
</footer>
