---
import { siteConfig } from "@/site-config";
import type { Page } from "src/lib/notion-interfaces";
import { getDatabaseByName } from "src/lib/notion/client";
import { Image } from "astro:assets";
import instagramLogo from "../../assets/instagram-logo.svg";
import linkedinLogo from "../../assets/linkedin-logo.svg";
import githubLogo from "../../assets/github-logo.svg";
import youtubeLogo from "../../assets/youtube-logo.svg";
import globe from "../../assets/globe.svg";

let pagesDatabase = (await getDatabaseByName("Pages"))!;
let pages: Page[];
pages = pagesDatabase.Pages;

const year = new Date().getFullYear();

export interface Props {
  locale: string;
  slug: string;
}

const whatsAppUrl = siteConfig.whatsapp; // Get WhatsApp URL from siteConfig
const emailAddress = siteConfig.email;
const linkedInUrl = siteConfig.linkedin;
const githubUrl = siteConfig.github;
const instagramUrl = siteConfig.instagram;

const { locale, slug } = Astro.props as Props;
---

<footer
  class="mt-auto flex w-full snap-start flex-col items-center justify-center pt-6 pb-6 text-center align-top sm:flex-row sm:justify-between sm:space-y-0 sm:text-xs print:hidden"
>
  <div
    class="order-2 flex flex-col items-center justify-center space-y-6 sm:order-1 sm:flex-row sm:space-y-0"
  >
    <div
      class="font-body order-2 flex items-center pt-6 sm:order-1 sm:me-6 sm:ml-1 sm:pt-0"
    >
      &copy; {siteConfig.author}
      {year}
    </div>
    <address
      class="order-1 mt-6 flex w-full items-center justify-center space-x-7 sm:order-2 sm:mt-0 sm:w-auto"
    >
      <a
        href={linkedInUrl}
        target="_blank"
        title="Check my LinkedIn."
        class="flex"
      >
        <Image
          src={linkedinLogo}
          alt="LinkedIn logo."
          class="inline h-4 w-auto mix-blend-difference"
        />
      </a>
      <a href={githubUrl} target="_blank" title="Check my GitHub." class="flex">
        <Image
          src={githubLogo}
          alt="GitHub logo."
          class="inline h-4 w-auto mix-blend-difference"
        />
      </a>
      <a
        href={instagramUrl}
        target="_blank"
        title="Check my Instagram."
        class="flex"
      >
        <Image
          src={instagramLogo}
          alt="Instagram logo."
          class="inline h-4 w-auto mix-blend-difference"
        />
      </a>
      {
        /*<a
        href="https://www.youtube.com/@ArchitectLocatelli"
        target="_blank"
        title="Check my YouTube channel."
        class="flex"
      >
        <Image
          src={youtubeLogo}
          alt="YouTube logo."
          class="inline h-5 w-auto mix-blend-difference"
        />
      </a>*/
      }
    </address>
  </div>
  <nav
    aria-label="More on this site"
    class="font-body order-1 flex flex-col sm:order-2 sm:mr-2 sm:flex-row"
  >
    {
      pages.map((page) =>
        page.Name === "Homepage" ? (
          <a
            class="py-2 sm:px-3 sm:py-0 sm:hover:underline"
            href={locale === "en" ? "/" : "/" + locale + "/"}
            title="Homepage"
          >
            Home
          </a>
        ) : (
          <a
            class="py-2 sm:px-3 sm:py-0 sm:hover:underline"
            href={locale === "en" ? page.Slug : "/" + locale + "/" + page.Slug}
            title="Homepage"
          >
            {locale === "en" ? page.Name : page.Name_pt}
          </a>
        )
      )
    }
    <a href="/cv" class="py-2 sm:px-3 sm:py-0 sm:hover:underline">CV</a>
    <a
      title={locale === "en" ? "Mudar para Português" : "Change to English"}
      href={locale === "en" ? "/pt/" + slug : "/" + slug}
      class="py-3 underline-offset-2 sm:px-3 sm:py-0 sm:hover:underline"
    >
      <Image
        src={globe}
        alt="Globe to change the locale (language)"
        loading={"eager"}
        class="inline mix-blend-difference"
      />
      <div class="inline">{locale}</div>
    </a>
  </nav>
</footer>
