---
import { siteConfig } from "@/site-config";
import type { Page } from "src/lib/notion-interfaces";
import { getDatabaseByName } from "src/lib/notion/client";
import { Image } from "astro:assets";
import instagramLogo from "../../assets/instagram-logo.svg";
import linkedinLogo from "../../assets/linkedin-logo.svg";
import githubLogo from "../../assets/github-logo.svg";
import youtubeLogo from "../../assets/youtube-logo.svg";

let pagesDatabase = (await getDatabaseByName("Pages"))!;
let pages: Page[];
pages = pagesDatabase.Pages;

const year = new Date().getFullYear();
---

<footer
  class="flex flex-col sm:space-y-0 mt-auto w-full items-center justify-center pb-6 pt-6 text-center align-top sm:flex-row sm:justify-between sm:text-xs snap-start"
>
  <div
    class="flex flex-col justify-center items-center sm:flex-row order-2 sm:order-1 h-full space-y-4 sm:space-y-0"
  >
    <div class="sm:ml-1 me-0 sm:me-4 font-body order-2 sm:order-1 pt-3 sm:pt-0">
      &copy; {siteConfig.author}
      {year}
    </div>
    <address
      class="flex justify-center space-x-6 order-1 sm:order-2 w-full sm:w-auto"
    >
      <a
        href="https://www.linkedin.com/in/daniel-locatelli/"
        target="_blank"
        title="Check my LinkedIn."
        class="flex"
      >
        <Image
          src={linkedinLogo}
          alt="LinkedIn logo."
          class="inline mix-blend-difference h-4 w-auto"
        />
      </a>
      <a
        href="https://github.com/daniel-locatelli"
        target="_blank"
        title="Check my GitHub."
        class="flex"
      >
        <Image
          src={githubLogo}
          alt="GitHub logo."
          class="inline mix-blend-difference h-4 w-auto"
        />
      </a>
      <a
        href="https://www.instagram.com/arquitetolocatelli/"
        target="_blank"
        title="Check my Instagram."
        class="flex"
      >
        <Image
          src={instagramLogo}
          alt="Instagram logo."
          class="inline mix-blend-difference h-4 w-auto"
        />
      </a>
      <a
        href="https://www.youtube.com/@ArquitetoLocatelli"
        target="_blank"
        title="Check my YouTube channel."
        class="flex"
      >
        <Image
          src={youtubeLogo}
          alt="YouTube logo."
          class="inline mix-blend-difference h-4 w-auto"
        />
      </a>
    </address>
  </div>
  <nav
    aria-label="More on this site"
    class="flex flex-col sm:flex-row font-body order-1 sm:order-2 sm:mr-2"
  >
    {
      pages.map((page) => (
        <a
          class="sm:px-3 py-2 sm:py-0 sm:hover:text-textColor sm:hover:underline"
          href={page.Name === "Homepage" ? "/" : "/" + page.Slug}
          title={page.FullName}
        >
          {page.Name}
        </a>
      ))
    }
  </nav>
</footer>
