---
import {
  getAllBlocksByBlockId,
  getAllDatabases,
  getDatabaseByName,
} from "../lib/notion/client";
import type { Database, Page } from "../lib/notion-interfaces";
import PostBody from "../components/Notion/PostBody.astro";
import Base from "@/layouts/Base.astro";
import SocialList from "@/components/SocialList.astro";
import { importCoverImage } from "src/lib/blog-helpers";
import PostPreview from "@/components/PostPreview.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const databases = await getAllDatabases();
  const paths = databases.flatMap((database) =>
    database.Pages.filter(() => database.Title === "Pages").map((page) => ({
      params: {
        page: page.Slug === "home" ? undefined : page.Slug,
      },
      props: { page: page },
    }))
  );
  return paths;
}

interface Props {
  page: Page;
}

const { page: slug } = Astro.params;
const { page } = Astro.props;

const [blocks] = await Promise.all([getAllBlocksByBlockId(page.PageId)]);

// Getting images dynamically with import.meta.glob()
// It only accepts string literals
// https://docs.astro.build/en/recipes/dynamically-importing-images/
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/notion/**/*.{jpeg,jpg,png,tiff,webp,gif,svg,avif}"
);

// Cover image
const coverImage = await importCoverImage(page, images);

let databases: Database[];

databases = await Promise.all(
  page.DatabasesRef!.map(async (db) => await getDatabaseByName(db.name!))
);
---

<Base meta={{ title: page.Name }}>
  <!-- <section>
    <h1 class="title mb-2">{page.Name}</h1>
    <p class="mb-2">
      <PostBody blocks={blocks} slug={slug!} />
    </p>
  </section> -->
  <PostPreview databases={databases} slug={slug!} />
  <!-- <section aria-label="Blog post list" class="mt-6">
    <h2 class="title mb-4 text-xl">Posts</h2>
    <ul class="space-y-4">
      {
        database.Pages.map((page) => (
          <li class="flex flex-col gap-x-2 sm:flex-row">
            {page.Name}
            {/* <PostPreview post={p} /> */}
          </li>
        ))
      }
    </ul>
  </section> -->
  <!-- <section class="mt-16">
    <h2 class="title mb-4 text-xl">Technologies</h2>
    <dl class="space-y-4">
      {
        cactusTech.map(({ desc, href, title }) => (
          <div class="flex flex-col gap-2 md:flex-row">
            <dt>
              <span class="flex">
                <a
                  class="cactus-link"
                  href={href}
                  rel="noopener noreferrer"
                  target="_blank"
                >
                  {title}
                </a>
                :
              </span>
            </dt>
            <dd>{desc}</dd>
          </div>
        ))
      }
    </dl>
  </section> -->
</Base>
