---
import Base from "@/layouts/Base.astro";
import profilePhoto from "@/assets/daniel-locatelli-v1.png";
import { Image } from "astro:assets";
import Container from "@/components/Container.astro";
import {
  db,
  eq,
  Scholarships,
  ScholarshipsTranslations,
  Publications,
  PublicationsTranslations,
  PersonToPublications,
  Certifications,
  CertificationsTranslations,
  Tutoring,
  TutoringTranslations,
  TalksAndLectures,
  TalksAndLecturesTranslations,
  CoursesAttended,
  CoursesAttendedTranslations,
  Works,
  WorksTranslations,
  and,
} from "astro:db";
import { Icon } from "astro-icon/components";
import { siteConfig } from "@/site-config";
import { getI18n, getMonthYear } from "src/i18n/utils";
import type { I18nCV, Experience, Education } from "src/i18n/cv/types.ts";
import type { I18nMeta } from "src/i18n/meta/types.ts";

const getMonthYearOld = (date: Date): string => {
  const month =
    date.getMonth() < 9 ? `0${date.getMonth() + 1}` : date.getMonth() + 1;
  const year = date.getFullYear();
  return `${month}.${year}`;
};

const locale = "en";

const meta = await getI18n<I18nMeta>("meta", locale);
const cv = await getI18n<I18nCV>("cv", locale);

const scholarships = await db
  .select()
  .from(Scholarships)
  .leftJoin(
    ScholarshipsTranslations,
    eq(Scholarships.id, ScholarshipsTranslations.scholarshipId),
  )
  .where(eq(ScholarshipsTranslations.locale, locale));

const publications = await db
  .select()
  .from(Publications)
  .leftJoin(
    PublicationsTranslations,
    eq(Publications.id, PublicationsTranslations.publicationId),
  )
  .where(eq(PublicationsTranslations.locale, locale));

const personByPublicationId = await Promise.all(
  publications.map(async ({ Publications: pub }) => {
    const items = await db
      .select()
      .from(PersonToPublications)
      .where(eq(PersonToPublications.publicationId, pub.id));
    return { id: pub.id, items: items };
  }),
);

const certifications = await db
  .select()
  .from(Certifications)
  .leftJoin(
    CertificationsTranslations,
    eq(Certifications.id, CertificationsTranslations.certificationId),
  )
  .where(eq(CertificationsTranslations.locale, locale));

const tutoring = await db
  .select()
  .from(Tutoring)
  .leftJoin(
    TutoringTranslations,
    eq(Tutoring.id, TutoringTranslations.tutoringId),
  )
  .where(eq(TutoringTranslations.locale, locale));

const talksAndLectures = await db
  .select()
  .from(TalksAndLectures)
  .leftJoin(
    TalksAndLecturesTranslations,
    eq(TalksAndLectures.id, TalksAndLecturesTranslations.talkId),
  )
  .where(eq(TalksAndLecturesTranslations.locale, locale));

const coursesAttended = await db
  .select()
  .from(CoursesAttended)
  .leftJoin(
    CoursesAttendedTranslations,
    eq(CoursesAttended.id, CoursesAttendedTranslations.courseId),
  )
  .where(eq(CoursesAttendedTranslations.locale, locale));

const works = await db
  .select()
  .from(Works)
  .leftJoin(WorksTranslations, eq(Works.id, WorksTranslations.workId))
  .where(eq(WorksTranslations.locale, locale));
---

<Base
  meta={{
    title: "Full CV",
    description:
      "This is my full CV, including work, education, lectures, publications, certificates, and more.",
    coverAlt: "Daniel Locatelli's profile photo.",
    coverImage: "@/assets/daniel-locatelli.png",
    locale: "en",
    slug: "full-cv",
  }}
>
  <Container
    class="font-body relative flex flex-col gap-4 text-base print:gap-2 print:text-sm print:text-black [&_.item-text]:px-6 [&_.item-text]:py-4 [&_.item-text]:print:break-inside-avoid [&_.item-text]:print:px-2 [&_.item-text]:print:py-1 [&_.timeline]:shrink-0 [&_.timeline]:grow [&_.timeline]:border-r [&_.timeline]:print:h-2 [&_.timeline-top]:h-[17px] [&_.timeline-top]:border-r [&_.timeline-top]:print:h-3 [&_.timeline-wrapper]:mx-3 [&_.timeline-wrapper]:flex [&_.timeline-wrapper]:shrink-0 [&_.timeline-wrapper]:flex-col [&_.timeline-wrapper]:items-center [&_.timeline-wrapper]:font-sans [&_.timeline-wrapper]:sm:mx-6 [&_a:hover]:text-emerald-400 [&_h2]:mb-3 [&_h2]:border-b [&_h2]:pb-1 [&_h2]:text-3xl [&_h2]:print:mb-1 [&_h2]:print:break-after-avoid [&_h3]:text-lg [&_h4]:text-lg [&_h4]:text-zinc-300"
  >
    <div class="flex flex-col gap-6 pt-20 sm:flex-row sm:pt-28 print:pt-2">
      <Image
        src={profilePhoto}
        alt="Daniel Locatelli's profile photo."
        class="rounded-full p-8 sm:size-38 sm:p-0"
      />
      <div class="flex flex-col justify-center gap-1">
        <div class="flex flex-col gap-1">
          <h1 class="font-title text-5xl">Daniel Nunes Locatelli</h1>
          <p class="text-xl">AEC Software developer</p>
        </div>
        <div class="flex flex-col gap-4 text-sm sm:flex-row">
          <p class="text-pretty sm:text-xs sm:text-balance">
            {cv.quote}
          </p>
          <div>
            <address class="flex flex-col sm:text-xs">
              <a href={"mailto:" + siteConfig.email}>{siteConfig.email}</a>
              <span> {siteConfig.phone} </span>
              <span> {meta.city}, {meta.country} </span>
            </address>
            <div class="flex h-full grow gap-2">
              <a
                href="https://www.linkedin.com/in/daniel-locatelli/"
                class="h-min"
                title="Check my LinkedIn"
              >
                <Icon
                  name="mdi:linkedin"
                  class="inline-block size-5 align-middle sm:size-3.5"
                />
              </a>
              <a
                href="https://github.com/daniel-locatelli"
                class="h-min"
                title="Check my GitHub"
              >
                <Icon
                  name="mdi:github"
                  class="inline-block size-5 align-middle sm:size-3.5"
                />
              </a>
              <a
                href="https://instagram.com/architectlocatelli"
                class="h-min"
                title="Check my Instagram"
              >
                <Icon
                  name="mdi:instagram"
                  class="inline-block size-5 align-middle sm:size-3.5"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section id="summary">
      <h2>{cv.ui.summary}</h2>
      <p class="text-pretty">{cv.summary}</p>
    </section>
    <section id="technical-skills">
      <h2>{cv.ui.skills}</h2>
      <table
        class="table-auto [&_td]:leading-5 [&_th]:pr-2 [&_th]:text-right [&_th]:align-top [&_th]:font-thin sm:[&_th]:pr-4"
      >
        <tr>
          <th>{cv.ui.programming}</th>
          <td>
            {
              cv.skillsProgramming.map((skill, idx, arr) =>
                idx === arr.length - 1 ? skill.title : skill.title + ", ",
              )
            }
          </td>
        </tr>
        <tr>
          <th>{cv.ui.frameworks}</th>
          <td>
            {
              cv.skillsFrameworks.map((skill, idx, arr) =>
                idx === arr.length - 1 ? skill.title : skill.title + ", ",
              )
            }
          </td>
        </tr>
        <tr>
          <th>{cv.ui.databases}</th>
          <td>
            {
              cv.skillsDatabases.map((skill, idx, arr) =>
                idx === arr.length - 1 ? skill.title : skill.title + ", ",
              )
            }
          </td>
        </tr>
        <tr>
          <th>{cv.ui.designTools}</th>
          <td>
            {
              cv.skillsDesign.map((skill, idx, arr) =>
                idx === arr.length - 1 ? skill.title : skill.title + ", ",
              )
            }
          </td>
        </tr>
        <tr>
          <th>{cv.ui.specialization}</th>
          <td>
            {
              cv.skillsSpecialized.map((skill, idx, arr) =>
                idx === arr.length - 1 ? skill : skill + ", ",
              )
            }
          </td>
        </tr>
        <tr>
          <th>{cv.ui.languages}</th>
          <td>
            {
              cv.skillsLanguages.map((skill, idx, arr) =>
                idx === arr.length - 1
                  ? `${skill.title} (${skill.level})`
                  : `${skill.title} (${skill.level}), `,
              )
            }
          </td>
        </tr>
      </table>
    </section>
    <section
      id="work-experience"
      class="[&_li]:text-pretty [&_ul]:list-disc [&_ul]:pl-4 [&_ul]:text-sm [&_ul]:text-zinc-300"
    >
      <h2>{cv.ui.professionalExperience}</h2>
      {
        cv.experiences.map((experience: Experience, index: number) => {
          const isOdd = index % 2 === 0;
          const bgClass = isOdd ? "bg-[rgb(25,25,25)]" : "bg-[rgb(21,21,21)]";

          return (
            <div
              class={`group grid grid-cols-[100px_minmax(100px,1fr)] ${index % 2 === 0 ? "group-odd" : "group-even"}`}
            >
              <div class="timeline-wrapper">
                <div class="timeline-top" />
                {experience.endDate ? (
                  <time datetime={new Date(experience.endDate).toDateString()}>
                    {getMonthYear(experience.endDate)}
                  </time>
                ) : (
                  <span>{cv.ui.current}</span>
                )}
                <time datetime={new Date(experience.startDate).toDateString()}>
                  {getMonthYear(experience.startDate)}
                </time>
                <div class="timeline" />
              </div>

              {experience.link ? (
                <a href={experience.link} class={`item-text ${bgClass}`}>
                  <h3 class="mb-0 flex">
                    <span class="grow">{experience.title}</span>
                    <Icon
                      name="mdi:external-link"
                      class="mt-2 size-3 shrink-0 print:hidden"
                    />
                  </h3>
                  {experience.titleNote && (
                    <p class="mb-1 ml-1 text-xs text-zinc-300">
                      <sup>⤷</sup>
                      {experience.titleNote}
                    </p>
                  )}
                  <h4>
                    {experience.company} | {experience.location}
                  </h4>
                  {experience.companyNote && (
                    <p class="mb-1 ml-1 text-xs text-zinc-300">
                      <sup>⤷</sup>
                      {experience.companyNote}
                    </p>
                  )}
                  <ul>
                    {experience.items.map((item: string, itemIndex: number) => (
                      <li>{item}</li>
                    ))}
                  </ul>
                </a>
              ) : (
                <div class={`item-text ${bgClass}`}>
                  <h3 class="mb-0">{experience.title}</h3>
                  {experience.titleNote && (
                    <p class="mb-1 ml-1 text-xs text-zinc-300">
                      <sup>⤷</sup>
                      {experience.titleNote}
                    </p>
                  )}
                  <h4>
                    {experience.company} | {experience.location}
                  </h4>
                  {experience.companyNote && (
                    <p class="mb-1 ml-1 text-xs text-zinc-300">
                      <sup>⤷</sup>
                      {experience.companyNote}
                    </p>
                  )}
                  <ul>
                    {experience.items.map((item: string) => (
                      <li>{item}</li>
                    ))}
                  </ul>
                </div>
              )}
            </div>
          );
        })
      }
    </section>
    <section
      id="education"
      class="[&_li]:text-pretty [&_ul]:list-disc [&_ul]:pl-4 [&_ul]:text-sm [&_ul]:text-zinc-300"
    >
      <h2>{cv.ui.education}</h2>
      {
        cv.education.map((education: Education, index: number) => {
          const isOdd = index % 2 === 0;
          const bgClass = isOdd ? "bg-[rgb(25,25,25)]" : "bg-[rgb(21,21,21)]";

          return (
            <div
              class={`group grid grid-cols-[100px_minmax(100px,1fr)] ${index % 2 === 0 ? "group-odd" : "group-even"}`}
            >
              <div class="timeline-wrapper">
                <div class="timeline-top" />
                {education.endDate ? (
                  <time datetime={new Date(education.endDate).toDateString()}>
                    {getMonthYear(education.endDate)}
                  </time>
                ) : (
                  <span>{cv.ui.current}</span>
                )}
                <time datetime={new Date(education.startDate).toDateString()}>
                  {getMonthYear(education.startDate)}
                </time>
                <div class="timeline" />
              </div>

              {education.link ? (
                <a href={education.link} class={`item-text ${bgClass}`}>
                  <h3 class="mb-0 flex">
                    <span class="grow">{education.title}</span>
                    <Icon
                      name="mdi:external-link"
                      class="mt-2 size-3 shrink-0 print:hidden"
                    />
                  </h3>
                  <h4>
                    {education.institution} | {education.location}
                  </h4>

                  {/* Render description if its  exist */}
                  {education.description &&
                    education.description.length > 0 && (
                      <div class="mb-1 ml-1 text-sm text-zinc-300">
                        <p>
                          {education.description}
                        </p>
                      </div>
                    )}

                  {/* Render supervisors if they exist */}
                  {education.supervisors &&
                    education.supervisors.length > 0 && (
                      <div class="mb-1 ml-1 text-sm text-zinc-300">
                        <p>
                          Supervisors:
                          {education.supervisors.map((supervisor, idx, arr) => 
                            idx === arr.length - 1 ? `${supervisor}` : `${supervisor}, `,
                          )}
                        </p>
                      </div>
                    )}

                  {/* Render tutors if they exist */}
                  {education.tutors &&
                    education.tutors.length > 0 && (
                      <div class="mb-1 ml-1 text-sm text-zinc-300">
                        <p>
                          Tutors:
                          {education.tutors.map((tutors, idx, arr) => 
                            idx === arr.length - 1 ? `${tutors}` : `${tutors}, `,
                          )}
                        </p>
                      </div>
                    )}
                </a>
              ) : (
                <div class={`item-text ${bgClass}`}>
                  <h3 class="mb-0">
                    {education.title}
                  </h3>
                  <h4>
                    {education.institution} | {education.location}
                  </h4>

                  {/* Render supervisors if they exist */}
                  {education.supervisors &&
                    education.supervisors.length > 0 && (
                      <div class="mb-1 ml-1 text-xs text-zinc-300">
                        <p class="font-semibold">Supervisors:</p>
                        <ul class="ml-2">
                          {education.supervisors.map((supervisor) => (
                            <li>{supervisor}</li>
                          ))}
                        </ul>
                      </div>
                    )}

                  {/* Render tutors if they exist */}
                  {education.tutors && education.tutors.length > 0 && (
                    <div class="mb-1 ml-1 text-xs text-zinc-300">
                      <p class="font-semibold">Tutors:</p>
                      <ul class="ml-2">
                        {education.tutors.map((tutor) => (
                          <li>{tutor}</li>
                        ))}
                      </ul>
                    </div>
                  )}
                </div>
              )}
            </div>
          );
        })
      }
    </section>
    <section id="scholarships">
      <h2>{cv.ui.scholarships}</h2>
      {
        scholarships.map(
          async ({
            Scholarships: { startDate, endDate, link },
            ScholarshipsTranslations,
          }) => (
            <div class="group grid grid-cols-[100px_minmax(100px,1fr)]">
              <div class="timeline-wrapper">
                <div class="timeline-top" />
                {endDate ? (
                  <time datetime={endDate.toDateString()}>
                    {getMonthYearOld(endDate)}
                  </time>
                ) : (
                  <span>Current</span>
                )}
                <time datetime={startDate.toDateString()}>
                  {getMonthYearOld(startDate)}
                </time>
                <div class="timeline" />
              </div>
              {link ? (
                <a
                  href={link}
                  class="item-text group-odd:bg-[rgb(25,25,25)] group-even:bg-[rgb(21,21,21)]"
                >
                  <h3 class="mb-0 flex">
                    <span class="grow">
                      {ScholarshipsTranslations?.title ?? ""}{" "}
                    </span>
                    <Icon
                      name="mdi:external-link"
                      class="mt-2 size-3 shrink-0 print:hidden"
                    />
                  </h3>
                  <h4>{ScholarshipsTranslations?.institution ?? ""}</h4>
                  <p class="text-sm text-pretty text-zinc-300">
                    {ScholarshipsTranslations?.description ?? ""}
                  </p>
                </a>
              ) : (
                <div class="item-text group-odd:bg-[rgb(25,25,25)] group-even:bg-[rgb(21,21,21)]">
                  <h3 class="mb-0">{ScholarshipsTranslations?.title ?? ""}</h3>
                  <h4>{ScholarshipsTranslations?.institution ?? ""}</h4>
                  <p class="text-sm text-pretty text-zinc-300">
                    {ScholarshipsTranslations?.description ?? ""}
                  </p>
                </div>
              )}
            </div>
          ),
        )
      }
    </section>
    <section id="publications">
      <h2>{cv.ui.publications}</h2>
      {
        publications.map(
          async ({
            Publications: { id, date, link },
            PublicationsTranslations,
          }) => (
            <div class="group grid grid-cols-[100px_minmax(100px,1fr)]">
              <div class="timeline-wrapper">
                <div class="timeline-top" />
                <time datetime={date.toDateString()}>
                  {getMonthYearOld(date)}
                </time>
                <div class="timeline" />
              </div>
              {link ? (
                <a
                  href={link}
                  class="item-text group-odd:bg-[rgb(25,25,25)] group-even:bg-[rgb(21,21,21)]"
                >
                  <h3 class="mb-0 flex">
                    <span class="grow">
                      {PublicationsTranslations?.title ?? ""}{" "}
                    </span>
                    <Icon
                      name="mdi:external-link"
                      class="mt-2 size-3 shrink-0 print:hidden"
                    />
                  </h3>
                  <h4>
                    {PublicationsTranslations?.publisher ?? ""}
                    {PublicationsTranslations?.location
                      ? `| ${PublicationsTranslations.location}`
                      : ""}
                  </h4>
                  <p class="flex flex-wrap text-sm text-zinc-300">
                    {personByPublicationId
                      .find((itemObj) => itemObj.id === id)
                      ?.items.map((item, index, array) => (
                        <span class="mr-1 text-nowrap">
                          {index + 1 === array.length
                            ? item.personId
                            : `${item.personId}, `}
                        </span>
                      ))}
                  </p>
                </a>
              ) : (
                <div class="item-text group-odd:bg-[rgb(25,25,25)] group-even:bg-[rgb(21,21,21)]">
                  <h3 class="mb-0">{PublicationsTranslations?.title ?? ""}</h3>
                  <h4>
                    {PublicationsTranslations?.publisher ?? ""}
                    {PublicationsTranslations?.location
                      ? `| ${PublicationsTranslations.location}`
                      : ""}
                  </h4>
                  <p class="flex flex-wrap text-sm text-zinc-300">
                    {personByPublicationId
                      .find((itemObj) => itemObj.id === id)
                      ?.items.map((item, index, array) => (
                        <span class="mr-1 text-nowrap">
                          {index + 1 === array.length
                            ? item.personId
                            : `${item.personId}, `}
                        </span>
                      ))}
                  </p>
                </div>
              )}
            </div>
          ),
        )
      }
    </section>
    <section id="certifications">
      <h2>{cv.ui.certifications}</h2>
      {
        certifications.map(
          async ({
            Certifications: { date, link },
            CertificationsTranslations,
          }) => (
            <div class="group grid grid-cols-[100px_minmax(100px,1fr)]">
              <div class="timeline-wrapper">
                <div class="timeline-top" />
                <time datetime={date.toDateString()}>
                  {getMonthYearOld(date)}
                </time>
                <div class="timeline" />
              </div>
              {link ? (
                <a
                  href={link}
                  class="item-text group-odd:bg-[rgb(25,25,25)] group-even:bg-[rgb(21,21,21)]"
                >
                  <h3 class="mb-0 flex">
                    <span class="grow">
                      {CertificationsTranslations?.title ?? ""}{" "}
                    </span>
                    <Icon
                      name="mdi:external-link"
                      class="mt-2 size-3 shrink-0 print:hidden"
                    />
                  </h3>
                  <h4>{CertificationsTranslations?.issuer ?? ""}</h4>
                </a>
              ) : (
                <div class="item-text group-odd:bg-[rgb(25,25,25)] group-even:bg-[rgb(21,21,21)]">
                  <h3 class="mb-0">
                    {CertificationsTranslations?.title ?? ""}
                  </h3>
                  <h4>{CertificationsTranslations?.issuer ?? ""}</h4>
                </div>
              )}
            </div>
          ),
        )
      }
    </section>
    <section id="tutoring">
      <h2>{cv.ui.tutoring}</h2>
      {
        tutoring.map(
          async ({
            Tutoring: { startDate, endDate, link },
            TutoringTranslations,
          }) => (
            <div class="group grid grid-cols-[100px_minmax(100px,1fr)]">
              <div class="timeline-wrapper">
                <div class="timeline-top" />
                {endDate ? (
                  <time datetime={endDate.toDateString()}>
                    {getMonthYearOld(endDate)}
                  </time>
                ) : (
                  ""
                )}
                <time datetime={startDate.toDateString()}>
                  {getMonthYearOld(startDate)}
                </time>
                <div class="timeline" />
              </div>
              {link ? (
                <a
                  href={link}
                  class="item-text group-odd:bg-[rgb(25,25,25)] group-even:bg-[rgb(21,21,21)]"
                >
                  <h3 class="mb-0 flex">
                    <span class="grow">{TutoringTranslations?.title} </span>
                    <Icon
                      name="mdi:external-link"
                      class="mt-2 size-3 shrink-0 print:hidden"
                    />
                  </h3>
                  <h4>
                    {TutoringTranslations?.organization} |{" "}
                    {TutoringTranslations?.location}
                  </h4>
                  <p class="text-sm text-pretty text-zinc-300">
                    {TutoringTranslations?.description}
                  </p>
                </a>
              ) : (
                <div class="item-text group-odd:bg-[rgb(25,25,25)] group-even:bg-[rgb(21,21,21)]">
                  <h3 class="mb-0">{TutoringTranslations?.title}</h3>
                  <h4>
                    {TutoringTranslations?.organization} |{" "}
                    {TutoringTranslations?.location}
                  </h4>
                  <p class="text-sm text-pretty text-zinc-300">
                    {TutoringTranslations?.description}
                  </p>
                </div>
              )}
            </div>
          ),
        )
      }
    </section>
    <section id="talks-and-lectures">
      <h2>{cv.ui.coursesAndTalks}</h2>
      {
        talksAndLectures.map(
          async ({
            TalksAndLectures: { date, link },
            TalksAndLecturesTranslations,
          }) => (
            <div class="group grid grid-cols-[100px_minmax(100px,1fr)]">
              <div class="timeline-wrapper">
                <div class="timeline-top" />
                <time datetime={date.toDateString()}>
                  {getMonthYearOld(date)}
                </time>
                <div class="timeline" />
              </div>
              {link ? (
                <a
                  href={link}
                  class="item-text group-odd:bg-[rgb(25,25,25)] group-even:bg-[rgb(21,21,21)]"
                >
                  <h3 class="mb-0 flex">
                    <span class="grow">
                      {TalksAndLecturesTranslations?.title}{" "}
                    </span>
                    <Icon
                      name="mdi:external-link"
                      class="mt-2 size-3 shrink-0 print:hidden"
                    />
                  </h3>
                  <h4>
                    {TalksAndLecturesTranslations?.organization} |{" "}
                    {TalksAndLecturesTranslations?.location}
                  </h4>
                </a>
              ) : (
                <div class="item-text group-odd:bg-[rgb(25,25,25)] group-even:bg-[rgb(21,21,21)]">
                  <h3 class="mb-0">{TalksAndLecturesTranslations?.title}</h3>
                  <h4>
                    {TalksAndLecturesTranslations?.organization} |{" "}
                    {TalksAndLecturesTranslations?.location}
                  </h4>
                </div>
              )}
            </div>
          ),
        )
      }
    </section>
    <section id="courses-attended">
      <h2>{cv.ui.coursesAttended}</h2>
      {
        coursesAttended.map(
          async ({
            CoursesAttended: { startDate, endDate, instructor, link },
            CoursesAttendedTranslations,
          }) => (
            <div class="group grid grid-cols-[100px_minmax(100px,1fr)]">
              <div class="timeline-wrapper">
                <div class="timeline-top" />
                {endDate ? (
                  <time datetime={endDate.toDateString()}>
                    {getMonthYearOld(endDate)}
                  </time>
                ) : (
                  ""
                )}
                <time datetime={startDate.toDateString()}>
                  {getMonthYearOld(startDate)}
                </time>
                <div class="timeline" />
              </div>
              {link ? (
                <a
                  href={link}
                  class="item-text group-odd:bg-[rgb(25,25,25)] group-even:bg-[rgb(21,21,21)]"
                >
                  <h3 class="mb-0 flex">
                    <span class="grow">
                      {CoursesAttendedTranslations?.title}{" "}
                    </span>
                    <Icon
                      name="mdi:external-link"
                      class="mt-2 size-3 shrink-0 print:hidden"
                    />
                  </h3>
                  <h4>
                    {CoursesAttendedTranslations?.organization} |{" "}
                    {CoursesAttendedTranslations?.location}
                  </h4>
                  <p class="text-sm text-pretty text-zinc-300">{instructor}</p>
                </a>
              ) : (
                <div class="item-text group-odd:bg-[rgb(25,25,25)] group-even:bg-[rgb(21,21,21)]">
                  <h3 class="mb-0">{CoursesAttendedTranslations?.title}</h3>
                  <h4>
                    {CoursesAttendedTranslations?.organization} |{" "}
                    {CoursesAttendedTranslations?.location}
                  </h4>
                  <p class="text-sm text-pretty text-zinc-300">{instructor}</p>
                </div>
              )}
            </div>
          ),
        )
      }
    </section>
    <section id="works">
      <h2>{cv.ui.projectsList}</h2>
      {
        works.map(async ({ Works: work, WorksTranslations: translation }) => (
          <div class="group grid grid-cols-[100px_minmax(100px,1fr)]">
            <div class="timeline-wrapper">
              <div class="timeline-top" />
              {work.endDate ? (
                <time datetime={work.endDate.toDateString()}>
                  {getMonthYearOld(work.endDate)}
                </time>
              ) : (
                ""
              )}
              <time datetime={work.startDate.toDateString()}>
                {getMonthYearOld(work.startDate)}
              </time>
              <div class="timeline" />
            </div>
            {translation && translation.link ? (
              <a
                href={translation.link}
                class="item-text group-odd:bg-[rgb(25,25,25)] group-even:bg-[rgb(21,21,21)]"
              >
                <h3 class="mb-0 flex">
                  <span class="grow">{translation.title} </span>
                  <Icon
                    name="mdi:external-link"
                    class="mt-2 size-3 shrink-0 print:hidden"
                  />
                </h3>
                <h4>
                  {translation.category}
                  {translation.location ? ` | ${translation.location}` : ""}
                </h4>
                <p class="text-sm text-pretty text-zinc-300">
                  {translation.description}
                </p>
              </a>
            ) : translation ? (
              <div class="item-text group-odd:bg-[rgb(25,25,25)] group-even:bg-[rgb(21,21,21)]">
                <h3 class="mb-0">{translation.title}</h3>
                <h4>
                  {translation.category}
                  {translation.location ? ` | ${translation.location}` : ""}
                </h4>
                <p class="text-sm text-pretty text-zinc-300">
                  {translation.description}
                </p>
              </div>
            ) : null}
          </div>
        ))
      }
    </section>
  </Container>
</Base>

<style>
  /* Reset default margins */
  @page {
    margin-top: 2cm;
    margin-bottom: 2cm;
    margin-left: 1.2cm;
    margin-right: 1.2cm;
    /* Add page number in bottom-center */
    @bottom-center {
      content: counter(page) " / " counter(pages);
      font-size: 10pt;
      margin-bottom: 2rem;
    }
  }
  /* Ensure page numbers are printed */
  @media print {
    :root,
    :root[data-theme="light"],
    :root[data-theme="dark"] {
      color-scheme: light !important;
      --theme-bg: white !important;
    }
    * {
      background-color: white !important;
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
      color: black !important;
    }
    body {
      padding: 0;
    }
    /* Reset some potential print-blocking styles */
    body * {
      visibility: visible;
    }
  }
</style>
