---
import { siteConfig } from "@/site-config";
import { getDatabaseByName } from "../lib/notion/client";
import type { Page } from "../lib/notion-interfaces";
import {
  importCoverImage,
  modifyFileName,
  urlToFileName,
} from "src/lib/blog-helpers";
import BaseHead from "@/components/BaseHead.astro";
import { Image } from "astro:assets";
import logo from "../assets/logo-dl.svg";
import arrowRight from "../assets/arrow-right.svg";
import Footer from "@/components/layout/Footer.astro";
import profilePhoto from "../assets/daniel-locatelli-v1.png";
import WhatsApp from "../assets/digital-glyph-white.svg";

let pagesDatabase = await getDatabaseByName("Pages");
const homepage = pagesDatabase.Pages.find((page) => page.Name === "Homepage")!;
const otherPages: Page[] = pagesDatabase.Pages.filter(
  (page) => page.Name !== "Homepage"
);

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/notion/**/*.{jpeg,jpg,png,tiff,webp,gif,svg,avif}"
);

let coverUrl = "";
if (homepage.Cover) {
  const url = new URL(homepage.Cover.Url);
  const dir = "media/" + url.pathname.split("/").slice(-2)[0];
  const fileNameConverted = urlToFileName(url);
  const fileNameWithSlug = modifyFileName(fileNameConverted, {
    // newBeginning: homepage.Slug.split("/").pop() + "_",
    newExtension: "jpg",
  });
  coverUrl = `${dir}/${fileNameWithSlug}`;
}

let coverList: string[] = [];

otherPages.map((page) => {
  let coverUrlBg = "";
  if (page.Cover) {
    const url = new URL(page.Cover.Url);
    const dir = "media/" + url.pathname.split("/").slice(-2)[0];
    const fileNameConverted = urlToFileName(url);
    const fileNameBgWithSlug = modifyFileName(fileNameConverted, {
      newEnd: "-bg",
      newExtension: "jpg",
    });
    coverUrlBg = `${dir}/${fileNameBgWithSlug}`;
    coverList.push(coverUrlBg);
  }
});

const locale = "en";
---

<html lang={locale}>
  <head>
    <BaseHead
      description={homepage.Description}
      title={siteConfig.title}
      coverImage={coverUrl}
      coverAlt={homepage.CoverAlt || "Cover image"}
      locale={locale}
      slug="/"
    />
    {
      coverList.map((coverUrlBg) => {
        return <link rel="preload" href={coverUrlBg} as="image" />;
      })
    }
  </head>
  <body class="m-0 h-full min-w-full snap-y snap-mandatory p-0">
    <main
      class="relative grid max-h-screen max-h-svh min-h-screen min-h-svh w-full snap-center grid-rows-4 overflow-hidden md:grid-cols-2 md:grid-rows-2"
    >
      <a
        href="/#about"
        class="absolute top-1/2 left-1/2 z-30 h-20 w-24 -translate-x-1/2 -translate-y-1/2 transform p-4 mix-blend-difference"
      >
        <Image
          class="w-full"
          src={logo}
          loading={"eager"}
          alt="Daniel Locatelli logo"
        />
      </a>
      {
        otherPages.map(async (page, index) => {
          // Import cover from database
          const coverImage = await importCoverImage(page, images);
          // link not on the cover/title, but just on the description
          return (
            <div class="relative overflow-hidden" id="image-container">
              <div
                class="absolute z-10 flex h-full w-full scale-125 justify-between bg-black bg-cover bg-center blur-lg"
                style={`background-image: url(${coverList[index]})`}
                id="background"
              />
              <a
                href={"/" + page.Slug}
                class="relative z-20 flex h-full justify-center transition duration-700"
                id="cover"
                data-astro-prefetch
              >
                <h1 class="animate-fade font-title pointer-events-none absolute top-1/2 left-1/2 z-30 -translate-x-1/2 -translate-y-1/2 transform text-3xl text-white mix-blend-difference md:text-6xl">
                  {page.Name}
                </h1>
                <Image
                  class="animate-fade object-cover object-center"
                  src={coverImage}
                  alt={page.CoverAlt}
                  transition:name={page.Slug + "-image"}
                  loading="eager"
                  widths={[300, 700, 1000, 1280, 1400, 1600, coverImage.width]}
                  sizes={`(max-width: 300px) 300px, (max-width: 700px) 700px, (max-width: 1000px) 1000px, (max-width: 1280px) 1280px, (max-width: 1400px) 1400px, (max-width: 1600px) 1600px, ${coverImage.width}px`}
                />
              </a>
              <a
                href={"/" + page.Slug}
                class="absolute inset-0 z-0 h-full w-full bg-black"
                id="link"
              >
                <div class="relative flex h-full flex-col items-center justify-center">
                  <h2 class="font-body p-6 text-center text-lg font-light text-balance text-white md:p-10 md:text-3xl">
                    {page.ShortDescription}
                  </h2>
                  <div class="flex flex-col justify-center">
                    <Image
                      src={arrowRight}
                      alt={"Go to " + page.Name}
                      class="h-5 w-5 md:h-8 md:w-8"
                    />
                  </div>
                </div>
              </a>
            </div>
          );
        })
      }
    </main>
    <section
      id="about"
      class="flex min-h-screen snap-center flex-col justify-center"
    >
      <div class="flex flex-col items-center justify-center md:flex-row">
        <Image
          class="mb-4 h-56 w-56 rounded-full md:mr-12 md:mb-0 md:h-80 md:w-80"
          src={profilePhoto}
          alt="Daniel Locatelli profile photo"
          loading="eager"
        />
        <div class="px-8">
          <h1
            class="animate-fade font-title pointer-events-none mb-2 text-center text-3xl md:mb-2 md:text-left md:text-6xl"
          >
            Daniel Locatelli
          </h1>
          <p class="font-body mb-3 text-center text-xl md:text-left md:text-xl">
            Specialized AECO Software Solutions
          </p>
          <p class="text-l font-body">My Expertise:</p>
          <ul
            class="text-l font-body mb-4 list-disc text-balance *:mt-2 md:list-inside"
          >
            <li>Custom plugins that seamlessly integrate with your tools</li>
            <li>Scalable web apps that can be accessed anywhere</li>
            <li>
              Optimized workflows leveraging computational design and
              engineering
            </li>
          </ul>
          <a
            href={siteConfig.whatsapp}
            class="font-body just flex w-fit items-center gap-3 rounded-md bg-radial-[at_50%_75%] from-green-400 to-green-500 px-5 py-2 text-base text-white transition hover:shadow-[3px_3px_rgba(0,98,90,0.4),7px_7px_rgba(0,98,90,0.3),11px_11px_rgba(0,98,90,0.2)]"
            target="_blank"
            title="WhatsApp"
          >
            <div>Reach me out</div>
            <WhatsApp width={16} height={16} />
          </a>
        </div>
      </div>
    </section>
    <Footer locale={locale} slug="" />
    <style>
      html {
        scroll-snap-type: y proximity;
        overflow-y: scroll;
      }
    </style>
    <script src="../lib/home-scripts.ts"></script>
  </body>
</html>
