---
import { siteConfig } from "@/site-config"; // Assuming this file exists and is configured
import { Image } from "astro:assets";
import logo from "../assets/logo-dl.svg"; // Your logo
import profilePhoto from "../assets/daniel-locatelli-v1.png"; // Your profile photo
import WhatsApp from "../assets/digital-glyph-white.svg"; // WhatsApp icon (white version for dark BGs)
import Base from "@/layouts/Base.astro";
import Container from "@/components/Container.astro";
import { Icon } from "astro-icon/components";
import buildSystemsCalculator from "@/assets/iphone-pro-calculator-mockup-2.png";
import buildSystemsPluginCover from "@/assets/grasshopper-macbook.png";
import artEngineeringCommonSkies from "@/assets/common-sky-01.jpg";
import SkillsMap from "@/components/SkillsMap.astro";

// Static data derived from the PDF for the landing page content
const pageTitleFromPdf =
  "Daniel Locatelli | Architect-Programmer | AECO Software Solutions";
const pageDescriptionFromPdf =
  "Daniel Locatelli offers custom software development, computational design, and web applications for the Architecture, Engineering, Construction, and Operations (AECO) industry.";

// Determine title and description, prioritizing siteConfig if available
const titleToUse = siteConfig.title || pageTitleFromPdf;
const descriptionToUse = siteConfig.description || pageDescriptionFromPdf; // Assuming siteConfig might have a general description
const coverUrl = "/images/hero-background-aeco.jpg"; // Placeholder for a relevant hero background image
const coverAltToUse = "Innovative AECO software solutions by Daniel Locatelli";

const services = [
  {
    title: "Plugin Development",
    description:
      "Bespoke tools to automate tasks, integrate specialized analyses, or extend a software capability. Expert in C# for Rhino/Grasshopper, Revit and AutoCAD.",
    icon: "ph:puzzle-piece",
  },
  {
    title: "Web Applications",
    description:
      "Web-based solutions for project management, collaborative tools, financial simulators and 3D visualization. Focused in React, Astro and PostgreSQL.",
    icon: "ph:cursor-click",
  },
  {
    title: "Computational Design",
    description:
      "Applying advanced computational design strategies to streamline and enhance AEC processes, improving efficiency in design, analysis, and documentation.",
    icon: "ph:buildings",
  },
  {
    title: "Data Visualization",
    description:
      "Creating dashboards to better understand, interpret, and act upon complex project data. From web-native dashboards to enterprise Power BI frameworks. ",
    icon: "ph:chart-line-up",
  },
  {
    title: "Digital Fabrication",
    description:
      "Creating Grasshopper scripts to automatically extract manufacturing data from complex, parametric 3D designs for digital fabrication.",
    icon: "ph:resize",
  },
];

const projects = [
  {
    title: "BuildSystems Funding Calculator",
    context: "BuildSystems GmbH",
    contextLink: "https://buildsystems.de",
    description:
      "Web application with user-friendly forms and interactive charts for simulating funding scenarios for housing through the national German bank KfW.",
    technologies:
      "TypeScript, Angular, ng2-charts, Supabase, PostgreSQL, HTML, CSS.",

    imageUrl: buildSystemsCalculator, // to be changed
    internalLink: "/projects/kfw-funding-calculator-by-buildsystems",
  },
  {
    title: "BuildSystems Plugin for Grasshopper/Rhino3D",
    context: "BuildSystems GmbH",
    contextLink: "https://buildsystems.de",
    description:
      "Grasshopper plugin that enables designers to perform critical feasibility and sustainability analyses directly within their design environment, promoting informed decision-making.",
    technologies: "C#, RhinoCommon, Grasshopper API, JSON.",
    imageUrl: buildSystemsPluginCover, // Replace with actual path
    internalLink: "/projects/buildsystems-plugin-for-grasshopper",
  },
  {
    title: "Data Extraction for Digital Fabrication",
    context: "ArtEngineering GmbH",
    contextLink: "https://art-engineering.net",
    description:
      "Support on the digital fabrication of Common Sky using Grasshopper and Sandbox Topology. Focused on geometry processing and automation of fabrication workflows.",
    technologies: "Scripting in Grasshopper/Rhino3D.",
    imageUrl: artEngineeringCommonSkies, // Replace with actual path
    internalLink:
      "/projects/common-sky-by-artengineering-for-studio-other-spaces",
  },
];

const recommendations = [
  {
    text: "Mr. Locatelli impressed with outstanding technical expertise, technological versatility, and initiative, making a significant contribution to the development of innovative software and web solutions at BuildSystems and exceeding our expectations in every respect.",
    author: "Martin Bittmann",
    context: "BuildSystems GmbH",
    position: "Founder",
    contextLink: "https://buildsystems.de",
  },
  {
    text: "Mr. Locatelli displayed a combination of technical, strategic, and interpersonal skills, making him an invaluable team member and a highly recommended professional.",
    author: "Herwig Bretis",
    context: "ArtEngineering GmbH",
    position: "Managing director and proprietor",
    contextLink: "https://art-engineering.net/index.php/ge/cv_herwig_bretis",
  },

  {
    text: "Mr. Locatelli distinguished himself as a talented and creative designer, making significant contributions through advanced computational design and innovative membrane form-finding solutions, consistently exceeding expectations.",
    author: "Alfred Rein",
    context: "Alfred Rein Ingenieure GmbH",
    position: "Managing Director",
    contextLink: "https://www.ar-ingenieure.com/",
  },
];

const whatsAppUrl = siteConfig.whatsapp; // Get WhatsApp URL from siteConfig
const emailAddress = siteConfig.email;
const linkedInUrl = siteConfig.linkedin;
const githubUrl = siteConfig.github;
const instagramUrl = siteConfig.instagram;

// Placeholder for coverList if Notion logic is not active for this page
const coverList: string[] = [];
---

<Base
  meta={{
    title: "Daniel Locatelli",
    description:
      "Welcome to my digital office. Here, you will find my work, research, and teachings on architecture, biomimetics, computational design, and software development for the AEC industry.",
    coverAlt: "Daniel Locatelli's profile photo.",
    coverImage: "@/assets/daniel-locatelli-v1.png",
    locale: "en",
    slug: "landing-page",
  }}
>
  <Container
    class="font-body [&_h1]:font-title [&_h2]:font-title relative mt-16 flex flex-col gap-4 text-base [&_h2]:mb-4 [&_h2]:text-3xl [&_h3]:text-xl [&_h4]:text-lg [&_h4]:text-zinc-400 [&_section]:mt-16"
  >
    <section id="hero" class="flex justify-center p-8">
      <div class="flex shrink flex-col gap-10">
        <div class="flex max-w-xl shrink items-end justify-between">
          <Image
            src={profilePhoto}
            alt="Daniel Locatelli"
            class="order-1 h-36 w-36 rounded-full border-3 border-zinc-200 md:order-2 md:h-44 md:w-44"
          />
          <h1
            class="order-2 text-2xl font-bold sm:text-3xl md:order-1 md:text-4xl"
          >
            <p>Hi,</p>
            <p>I'm Daniel,</p>
            <p>software engineer.</p>
          </h1>
        </div>

        <p class="font-body max-w-xl">
          As a research associate at the Munich University of Applied Sciences,
          I&nbsp;specialize in developing plugins, web applications, and
          computational design solutions for architecture, engineering, and
          construction (AEC).
        </p>
        <div class="flex items-center gap-2">
          <a
            href={whatsAppUrl}
            target="_blank"
            rel="noopener noreferrer"
            class="inline-flex w-fit items-center gap-3 rounded-lg bg-gradient-to-r from-green-600 to-green-700 px-8 py-3 text-lg text-white transition hover:from-green-700 hover:to-green-800 hover:shadow-[0px_5px_15px_rgba(0,128,0,0.4)] focus:ring-2 focus:ring-green-500 focus:ring-offset-2 focus:outline-none"
          >
            Request a quote
            <Image src={WhatsApp} alt="WhatsApp Icon" class="size-5" />
          </a>
          <a
            href={`mailto:${emailAddress}`}
            title="Email Daniel Locatelli"
            class="inline-flex w-fit items-center gap-3 rounded-lg border-1 border-green-400 px-8 py-3 text-lg text-green-400 transition hover:bg-green-400 hover:text-zinc-900 focus:ring-2 focus:ring-green-300 focus:ring-offset-2 focus:ring-offset-zinc-800 focus:outline-none"
          >
            <Icon
              name="mdi:email-outline"
              class="size-5 shrink-0 print:hidden"
            />
            Send an Email
          </a>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container mx-auto">
        <h2 class="text-center">My Service Offerings</h2>
        <div class="flex flex-col gap-2">
          {
            services.map((service) => (
              <div class="flex flex-col gap-2 rounded-xl bg-zinc-900 p-8 shadow-lg transition-shadow duration-300 hover:shadow-xl">
                <div class="flex items-center gap-3">
                  <Icon
                    name={service.icon}
                    class="size-7 shrink-0 print:hidden"
                  />
                  <h3 class="flex items-center text-zinc-100">
                    {service.title}
                  </h3>
                </div>
                <p class="font-body leading-relaxed text-zinc-200">
                  {service.description}
                </p>
              </div>
            ))
          }
        </div>
      </div>
    </section>

    <section id="about">
      <div class="container mx-auto">
        <div class="text-center">
          <h2 class="">The Architect-Programmer</h2>
        </div>
        <div
          class="font-body rounded-xlp-10 mx-auto max-w-4xl space-y-6 text-center text-lg leading-relaxed shadow-xl"
        >
          <p>
            With a background in architecture and a Master of Science from the
            ITECH program at the University of Stuttgart, coupled with five
            years' experience that encompassed computational design at German
            engineering offices, I possess a deep understanding of AEC
            challenges.
          </p>
          <p>
            I apply this insight through strong full-stack development skills to
            build software tailored for AEC professionals, having a firsthand
            understanding of their workflows and needs.
          </p>
        </div>
      </div>
    </section>

    <section id="projects">
      <div class="container mx-auto">
        <h2 class="mb-16 text-center text-3xl md:text-4xl">
          Portfolio Highlights
        </h2>
        <div class="grid gap-8">
          {
            projects.map((project) => (
              <div class="flex flex-col overflow-hidden rounded-xl bg-zinc-900 shadow-lg transition-shadow duration-300 hover:shadow-xl">
                <Image
                  src={project.imageUrl}
                  alt={`Screenshot of ${project.title}`}
                  class="h-56 w-full object-cover"
                />
                <div class="font-body flex flex-grow flex-col p-6">
                  <h3 class="mb-1 text-xl font-semibold text-zinc-100">
                    {project.title}
                  </h3>
                  <a
                    href={project.contextLink}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="mb-2 text-xs font-medium tracking-wider text-green-500 uppercase"
                  >
                    {project.context}
                  </a>
                  <p class="mb-2 text-sm text-zinc-300">
                    {project.description}
                  </p>
                  <p class="mb-3 text-sm text-zinc-200">
                    <strong>Tech:</strong> {project.technologies}
                  </p>
                  <div class="mt-auto border-t border-zinc-200 pt-3">
                    {project.internalLink && (
                      <a
                        href={project.internalLink}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="group inline-flex items-center text-sm font-medium text-green-500 transition duration-300 hover:text-green-600"
                      >
                        <span class="pr-1">View the full article</span>
                        <Icon
                          name="mdi:arrow-right"
                          class="size-4 shrink-0 print:hidden"
                        />
                      </a>
                    )}
                  </div>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </section>

    <section id="testimonials" class="py-16 text-zinc-200">
      <h2 class="mb-12 text-center text-3xl md:text-4xl">
        Summary of Recommendations
      </h2>
      <div class="container mx-auto flex flex-col gap-12">
        {
          recommendations.map((rec) => (
            <div>
              <Icon name="mdi:format-quote-open" class="size-16" />
              <blockquote class="relative flex flex-col gap-3 rounded-r-xl border-l-2 border-green-600 pr-6 pl-10">
                <p class="text-lg text-pretty italic">{rec.text}</p>
                <a
                  href={rec.contextLink}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="flex w-fit gap-2 hover:text-green-600"
                >
                  <div>
                    <p class="font-bold">{rec.author}</p>
                    <p class="flex gap-2">
                      <span>{rec.context}</span>
                      <Icon name="mdi:external-link" class="size-3" />
                    </p>
                  </div>
                </a>
              </blockquote>
            </div>
          ))
        }
      </div>
    </section>

    <section id="expertise">
      <div class="container mx-auto px-6">
        <h2 class="mb-16 text-center text-3xl text-zinc-100 md:text-4xl">
          Map of Knowledge
        </h2>
        <p
          class="mb-6 text-center text-lg leading-relaxed text-balance text-zinc-100"
        >
          I’m constantly learning the latest tools to ensure I’m building the
          right system for each task.
        </p>
        <div
          class="font-body mx-auto flex max-w-5xl flex-col items-center rounded-xl bg-zinc-900 p-10 shadow-xl"
        >
          <SkillsMap />
        </div>
      </div>
    </section>

    <section id="contact" class="py-20">
      <div class="container mx-auto px-6 text-center">
        <h2 class="mb-6 text-3xl font-bold md:text-4xl lg:text-5xl">
          Ready to elevate your AEC projects?
        </h2>
        <p
          class="font-body mx-auto mb-10 max-w-2xl text-lg text-zinc-300 md:text-xl"
        >
          Let's discuss how my expertise as an architect-programmer can
          transform your challenges into innovative software solutions.
        </p>
        <div
          class="mb-8 flex flex-col items-center justify-center space-y-6 sm:flex-row sm:space-y-0 sm:space-x-6"
        >
          <a
            href={whatsAppUrl}
            target="_blank"
            rel="noopener noreferrer"
            title="Contact Daniel Locatelli on WhatsApp"
            class="inline-flex items-center gap-3 rounded-lg bg-gradient-to-r from-green-500 to-green-600 px-8 py-3 text-lg text-white transition hover:from-green-600 hover:to-green-700 hover:shadow-[0px_5px_20px_rgba(72,187,120,0.5)] focus:ring-2 focus:ring-green-400 focus:ring-offset-2 focus:outline-none"
          >
            <Image src={WhatsApp} alt="WhatsApp Icon" class="size-5" />
            Let's Talk
          </a>
          <a
            href={`mailto:${emailAddress}`}
            title="Email Daniel Locatelli"
            class="inline-flex items-center gap-3 rounded-lg border-1 border-green-400 px-8 py-3 text-lg text-green-400 transition hover:bg-green-400 hover:text-zinc-900 focus:ring-2 focus:ring-green-300 focus:ring-offset-2 focus:ring-offset-zinc-800 focus:outline-none"
          >
            <Icon
              name="mdi:email-outline"
              class="size-5 shrink-0 print:hidden"
            />
            Send an Email
          </a>
        </div>
        <div class="mt-12 space-y-3">
          <p class="font-body text-zinc-400">Connect with me on:</p>
          <div class="flex justify-center space-x-6">
            <a
              href={linkedInUrl}
              target="_blank"
              rel="noopener noreferrer"
              title="Daniel Locatelli on LinkedIn"
              class="text-zinc-300 transition duration-300 hover:text-green-400"
            >
              <Icon name="mdi:linkedin" class="size-7 shrink-0 print:hidden" />
            </a>
            <a
              href={githubUrl}
              target="_blank"
              rel="noopener noreferrer"
              title="Daniel Locatelli on GitHub"
              class="text-zinc-300 transition duration-300 hover:text-green-400"
            >
              <Icon name="mdi:github" class="size-7 shrink-0 print:hidden" />
            </a>
            <a
              href={instagramUrl}
              target="_blank"
              rel="noopener noreferrer"
              title="Daniel Locatelli on GitHub"
              class="text-zinc-300 transition duration-300 hover:text-green-400"
            >
              <Icon name="mdi:instagram" class="size-7 shrink-0 print:hidden" />
            </a>
          </div>
          <p>architect.locatelli@gmail.com</p>
        </div>
      </div>
    </section>
  </Container>
</Base>
