---
import type { SiteMeta } from "@/types";
import { siteConfig } from "@/site-config";
import "../styles/global.css";
import "../styles/fonts.css";

type Props = SiteMeta;

const { articleDate, description, coverImage, coverAlt, title, locale } =
  Astro.props;

const titleSeparator = "•"; // I removed the separator and the name from the title to make it cleaner when using it for references in Zotero etc.
const siteTitle =
  title === siteConfig.title
    ? siteConfig.title
    : title;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const socialImageURL = new URL(
  coverImage
    ? `${Astro.site}${coverImage}`
    : "/building-across-scales_master-thesis_daniel-locatelli_nils-opgenorth.jpg",
  Astro.url
).href;
---

<meta charset="utf-8" />
<meta
  content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
  name="viewport"
/>
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<title>{siteTitle}</title>

{/* Icons / Favicon */}
<link href="/favicon.svg" rel="icon" type="image/svg+xml" />
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/apple-touch-icon.png?v=1.0"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/favicon-32x32.png?v=1.0"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/favicon-16x16.png?v=1.0"
/>
<link rel="mask-icon" href="/safari-pinned-tab.svg?v=1.0" color="#000000" />
<link rel="shortcut icon" href="/favicon.ico?v=1.0" />
<link href="/favicon.ico" rel="icon" sizes="any" />
<link
  href="/manifest.webmanifest"
  rel="manifest"
  crossorigin="use-credentials"
/>
<link href={canonicalURL} rel="canonical" />

{/* Preload font */}
<link
  rel="preload"
  href="/fonts/PoiretOne-Regular.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="/fonts/Poppins-Light.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

{/* Primary Meta Tags */}
<meta content={siteTitle} name="title" />
<meta content={description} name="description" />
<meta content={siteConfig.author} name="author" />

{/* Theme Colour */}
<meta content="#000000" name="theme-color" />
<meta content="#000000" name="msapplication-TileColor" />

{/* Open Graph / Facebook */}
<meta property="og:type" content={articleDate ? "article" : "website"} />
<meta property="og:title" content={siteTitle} />
<meta property="og:description" content={description} />
<meta property="article:author:first_name" content={siteConfig.authorFirstName} />
<meta property="article:author:last_name" content={siteConfig.authorLastName} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:site_name" content={siteConfig.title} />
<meta property="og:locale" content={locale} />
<meta property="og:image" content={socialImageURL} />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="675" />
<meta property="og:image:alt" content={coverAlt} />
{
  articleDate && (
    <>
      <meta content={siteConfig.author} property="article:author" />
      <meta content={articleDate} property="article:published_time" />
    </>
  )
}

{/* Twitter */}
<meta content="summary_large_image" name="twitter:card" />
<meta content={canonicalURL} name="twitter:url" />
<meta content={title} name="twitter:title" />
<meta content={description} name="twitter:description" />
<meta content={socialImageURL} name="twitter:image" />

{/* Sitemap */}
<link href="/sitemap-index.xml" rel="sitemap" />

<meta content={Astro.generator} name="generator" />

<script type="application/ld+json" is:inline set:html={JSON.stringify({
  "@context": "https://schema.org",
  "@type": "Person",
  "name": siteConfig.author,
  "givenName": siteConfig.firstName,
  "familyName": siteConfig.lastName,
  "url": Astro.site,
})}>
</script>